pokedex.xml

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://webservice.pokemon.challenge.com/pokedex" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.pokemon.challenge.com/pokedex" targetNamespace="http://webservice.pokemon.challenge.com/pokedex">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice.pokemon.challenge.com/pokedex">

    <xs:complexType name="PokemonResponse">
        <xs:sequence>
            <xs:element minOccurs="0" name="id" type="xs:int"/>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="abilities" type="tns:Ability"/>
            <xs:element minOccurs="0" name="base_experience" type="xs:int"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="held_items" type="tns:HeldItem"/>
            <xs:element minOccurs="0" name="location_area_encounters" type="xs:anyURI"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Ability">
        <xs:sequence>
            <xs:element minOccurs="0" name="ability" type="tns:AbilityData"/>
            <xs:element minOccurs="0" name="is_hidden" type="xs:boolean"/>
            <xs:element minOccurs="0" name="slot" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AbilityData">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="url" type="xs:anyURI"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HeldItem">
        <xs:sequence>
            <xs:element minOccurs="0" name="item" type="tns:Item"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="version_details" type="tns:VersionDetail"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Item">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="url" type="xs:anyURI"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VersionDetail">
        <xs:sequence>
            <xs:element minOccurs="0" name="rarity" type="xs:int"/>
            <xs:element minOccurs="0" name="version" type="tns:Version"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Version">
        <xs:sequence>
            <xs:element minOccurs="0" name="name" type="xs:string"/>
            <xs:element minOccurs="0" name="url" type="xs:anyURI"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getAbilitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonRequest" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getAbilitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonResponse" type="tns:PokemonResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getBaseExperienceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonRequest" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getBaseExperienceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonResponse" type="tns:PokemonResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getHeldItemsRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonRequest" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getHeldItemsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonResponse" type="tns:PokemonResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonRequest" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonResponse" type="tns:PokemonResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getNameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonRequest" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonResponse" type="tns:PokemonResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getLocationAreaEncountersRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonRequest" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getLocationAreaEncountersResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemonResponse" type="tns:PokemonResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getIdRequest">
    <wsdl:part element="tns:getIdRequest" name="getIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLocationAreaEncountersRequest">
    <wsdl:part element="tns:getLocationAreaEncountersRequest" name="getLocationAreaEncountersRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHeldItemsResponse">
    <wsdl:part element="tns:getHeldItemsResponse" name="getHeldItemsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNameResponse">
    <wsdl:part element="tns:getNameResponse" name="getNameResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHeldItemsRequest">
    <wsdl:part element="tns:getHeldItemsRequest" name="getHeldItemsRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAbilitiesRequest">
    <wsdl:part element="tns:getAbilitiesRequest" name="getAbilitiesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBaseExperienceResponse">
    <wsdl:part element="tns:getBaseExperienceResponse" name="getBaseExperienceResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAbilitiesResponse">
    <wsdl:part element="tns:getAbilitiesResponse" name="getAbilitiesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBaseExperienceRequest">
    <wsdl:part element="tns:getBaseExperienceRequest" name="getBaseExperienceRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getIdResponse">
    <wsdl:part element="tns:getIdResponse" name="getIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNameRequest">
    <wsdl:part element="tns:getNameRequest" name="getNameRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getLocationAreaEncountersResponse">
    <wsdl:part element="tns:getLocationAreaEncountersResponse" name="getLocationAreaEncountersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="pokedexport">
    <wsdl:operation name="getId">
      <wsdl:input message="tns:getIdRequest" name="getIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:getIdResponse" name="getIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocationAreaEncounters">
      <wsdl:input message="tns:getLocationAreaEncountersRequest" name="getLocationAreaEncountersRequest">
    </wsdl:input>
      <wsdl:output message="tns:getLocationAreaEncountersResponse" name="getLocationAreaEncountersResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHeldItems">
      <wsdl:input message="tns:getHeldItemsRequest" name="getHeldItemsRequest">
    </wsdl:input>
      <wsdl:output message="tns:getHeldItemsResponse" name="getHeldItemsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <wsdl:input message="tns:getNameRequest" name="getNameRequest">
    </wsdl:input>
      <wsdl:output message="tns:getNameResponse" name="getNameResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAbilities">
      <wsdl:input message="tns:getAbilitiesRequest" name="getAbilitiesRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAbilitiesResponse" name="getAbilitiesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBaseExperience">
      <wsdl:input message="tns:getBaseExperienceRequest" name="getBaseExperienceRequest">
    </wsdl:input>
      <wsdl:output message="tns:getBaseExperienceResponse" name="getBaseExperienceResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="pokedexportSoap11" type="tns:pokedexport">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getId">
      <soap:operation soapAction=""/>
      <wsdl:input name="getIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocationAreaEncounters">
      <soap:operation soapAction=""/>
      <wsdl:input name="getLocationAreaEncountersRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getLocationAreaEncountersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHeldItems">
      <soap:operation soapAction=""/>
      <wsdl:input name="getHeldItemsRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getHeldItemsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <soap:operation soapAction=""/>
      <wsdl:input name="getNameRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAbilities">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAbilitiesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAbilitiesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBaseExperience">
      <soap:operation soapAction=""/>
      <wsdl:input name="getBaseExperienceRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBaseExperienceResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="pokedexportService">
    <wsdl:port binding="tns:pokedexportSoap11" name="pokedexportSoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>